Repository youki-dev/youki, pull requests merged in 2024-11, with the labels that each got.

#2969 docs: update github pages links
  README.md
  crates/libcgroups/Cargo.toml
  crates/libcontainer/Cargo.toml
  crates/liboci-cli/Cargo.toml
  crates/youki/Cargo.toml
  docs/src/developer/documentation_mdbook.md
  experiment/seccomp/Cargo.toml
  experiment/selinux/Cargo.toml
  tools/wasm-sample/README.md
Labels: kind/documentation

#2953 create mount_rootfs method
  crates/libcontainer/src/rootfs/rootfs.rs
Labels: kind/experimental

#2977 Add test process rlimits
  tests/contest/contest/src/main.rs
  tests/contest/contest/src/tests/mod.rs
  tests/contest/contest/src/tests/process_rlimits/mod.rs
  tests/contest/contest/src/tests/process_rlimits/process_rlimits_test.rs
  tests/contest/runtimetest/src/main.rs
  tests/contest/runtimetest/src/tests.rs
Labels: kind/test

#2993 Update deps: roll multiple dependabot PRs into one
  Cargo.lock
  crates/libcgroups/Cargo.toml
  crates/libcontainer/Cargo.toml
Labels: dependencies

#2978 Add test process user
  tests/contest/contest/src/main.rs
  tests/contest/contest/src/tests/mod.rs
  tests/contest/contest/src/tests/process_user/mod.rs
  tests/contest/contest/src/tests/process_user/process_user_test.rs
  tests/contest/runtimetest/src/main.rs
  tests/contest/runtimetest/src/tests.rs
Labels: kind/test

#2987 add test process_oom_score_adj
  tests/contest/contest/src/main.rs
  tests/contest/contest/src/tests/mod.rs
  tests/contest/contest/src/tests/process_oom_score_adj/mod.rs
  tests/contest/contest/src/tests/process_oom_score_adj/process_oom_score_adj_test.rs
  tests/contest/runtimetest/src/main.rs
  tests/contest/runtimetest/src/tests.rs
Labels: kind/test

#2961 libcontainer: support set stdios for container
  crates/libcontainer/src/container/builder.rs
  crates/libcontainer/src/container/builder_impl.rs
  crates/libcontainer/src/container/init_builder.rs
  crates/libcontainer/src/container/tenant_builder.rs
  crates/libcontainer/src/process/args.rs
  crates/libcontainer/src/process/container_init_process.rs
Labels: kind/feature

#2968 Add process test
  tests/contest/contest/src/main.rs
  tests/contest/contest/src/tests/mod.rs
  tests/contest/contest/src/tests/process/mod.rs
  tests/contest/contest/src/tests/process/process_test.rs
  tests/contest/runtimetest/src/main.rs
  tests/contest/runtimetest/src/tests.rs
Labels: kind/test

#2973 refactor(test): refine function create_container
  tests/contest/contest/src/tests/devices/devices_test.rs
  tests/contest/contest/src/tests/domainname/mod.rs
  tests/contest/contest/src/tests/example/hello_world.rs
  tests/contest/contest/src/tests/hooks/invoke.rs
  tests/contest/contest/src/tests/hostname/mod.rs
  tests/contest/contest/src/tests/io_priority/io_priority_test.rs
  tests/contest/contest/src/tests/mounts_recursive/mod.rs
  tests/contest/contest/src/tests/no_pivot/mod.rs
  tests/contest/contest/src/tests/process/process_test.rs
  tests/contest/contest/src/tests/process_oom_score_adj/process_oom_score_adj_test.rs
  tests/contest/contest/src/tests/process_rlimits/process_rlimits_test.rs
  tests/contest/contest/src/tests/process_user/process_user_test.rs
  tests/contest/contest/src/tests/readonly_paths/readonly_paths_tests.rs
  tests/contest/contest/src/tests/scheduler/scheduler_policy.rs
  tests/contest/contest/src/tests/seccomp/mod.rs
  tests/contest/contest/src/tests/sysctl/mod.rs
  tests/contest/contest/src/utils/test_utils.rs
Labels: kind/test

#2998 Fix/return multi errors on create failed
  crates/libcontainer/src/container/builder_impl.rs
  crates/libcontainer/src/error.rs
Labels: kind/bug

#2966 libcontainer: use OwnedFd as console_socket in ContainerBuilder
  crates/libcontainer/src/container/builder_impl.rs
  crates/libcontainer/src/container/tenant_builder.rs
  crates/libcontainer/src/process/container_init_process.rs
  crates/libcontainer/src/tty.rs
Labels: breaking change, kind/bug

#2976 Add test root readonly
  tests/contest/contest/src/main.rs
  tests/contest/contest/src/tests/mod.rs
  tests/contest/contest/src/tests/root_readonly_true/mod.rs
  tests/contest/contest/src/tests/root_readonly_true/root_readonly_tests.rs
  tests/contest/runtimetest/src/main.rs
  tests/contest/runtimetest/src/tests.rs
  tests/contest/runtimetest/src/utils.rs
Labels: kind/test
